[submodule "third_party/SuperGluePretrainedNetwork"]
	path = third_party/SuperGluePretrainedNetwork
	url = https://github.com/magicleap/SuperGluePretrainedNetwork.git
[submodule "third_party/deep-image-retrieval"]
	path = third_party/deep-image-retrieval
	url = https://github.com/naver/deep-image-retrieval.git